<div class="grid col-12">
  <!-- Gráfico de barras -->
  <div class="col-12 md:col-6">
    <div
      class="border-gray-300 shadow-2 border-round-md p-2"
      [ngStyle]="{ color: '#004A6D' }"
    >
      <div class="ml-2 mb-4 font-semibold text-700">Detección de anomalías</div>
      <p-chart
        #barChart
        type="bar"
        [data]="barChartData"
        [options]="barChartOptions"
      ></p-chart>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <!-- Gráfico de línea -->
    <div
      ngClass="border-gray-300 shadow-2 p-2 border-round-md"
      [ngStyle]="{ color: '#004A6D' }"
    >
      <div class="font-semibold mb-2">Detección en tiempo real</div>
      <p-chart
        #barChart
        type="line"
        [data]="lineChartData"
        [options]="lineChartOptions"
      ></p-chart>
    </div>
    <!-- Resumen de la semana con p-knob -->
    <div
      class="col-12 md:col-6 border-round px-4 border-gray-300 shadow-2 border-round-md w-full mt-3"
    >
      <div class="">
        <div class="flex justify-content-between align-items-center">
          <span class="text-sm text-blue-500 font-semibold"
            >Resumen del tráfico</span
          >
        </div>
        <ul class="list-none p-0 m-0">
          <!-- Normal -->
          <li
            class="border-bottom-1 surface-border py-1 flex flex-row md:align-items-center md:justify-content-between"
          >
            <div class="inline-flex align-items-center flex-1">
              <i class="pi pi-wave-pulse text-blue-500 text-xl mr-2"></i>
              <span class="text-xs">Normal</span>
            </div>
            <div class="flex align-items-center">
              <p-knob
                [readonly]="true"
                size="50"
                valueColor="#004A6D"
                [showValue]="true"
                [(ngModel)]="normalPercent"
                valueTemplate="{value}%"
              ></p-knob>
            </div>
          </li>
          <!-- Malicioso -->
          <li
            class="border-bottom-1 surface-border py-0 flex flex-row md:align-items-center md:justify-content-between"
          >
            <div class="inline-flex align-items-center flex-1">
              <i class="pi pi-shield text-md mr-2 text-red-500"></i>
              <span class="text-xs">Malicioso</span>
            </div>
            <div class="flex align-items-center m-0">
              <p-knob
                [readonly]="true"
                size="50"
                [(ngModel)]="maliciosoPercent"
                valueTemplate="{value}%"
                valueColor="#F5471D"
                [showValue]="true"
              ></p-knob>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
