<div
  class="flex flex-wrap surface-overlay py-3 px-4 shadow-1 align-items-center md:justify-content-start justify-content-between"
>
  <a
    [routerLink]="['/SecBluRed/sbr-dashboard']"
    class="cursor-pointer flex align-items-center"
  >
    <img
      src="../../../assets/logos/MTP_Logo.svg"
      alt="Logo mtp"
      width="175"
      height="52.35"
      class="mr-0 lg:mr-6"
    />
  </a>
  <!-- Botón hamburguesa solo en móvil -->
  <p-button
    onkeypress="enter"
    icon="pi pi-bars"
    class="p-button-text block lg:hidden"
    (click)="abrirSidebar()"
  ></p-button>

  <div class="flex flex-row bottom-1">
    <p-breadcrumb class="max-w-full flex flex-wrap" [model]="items">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-menuitem-link text-blue-500">
            <span [ngClass]="[item.icon ? item.icon : '']"></span>
            <span class="text-blue-500 font-semibold text-xs">{{
              item.label
            }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <a [href]="item.url">
            <span class="text-color">{{ item.label }}</span>
          </a>
        </ng-template>
      </ng-template>
    </p-breadcrumb>
  </div>
</div>
