<div class="grid col-12 align-items-center">
<div class="col-12 flex justify-between items-center w-full p-2 pl-8">
  <div class="col-12 md:col-4 lg:col-4 flex align-items-center gap-2">
    <span class="border-bottom-1">Número de notificaciones</span>
    <p-badge [value]="data?.notifications" severity="info"></p-badge>
  </div>
  <div class="col-12 md:col-4 lg:col-4 flex align-items-center gap-2 ">
    <span class="border-bottom-1">Secuencia normal de la red:</span>
    <p-badge [value]="data?.normalSequence" severity="success"></p-badge>
  </div>
  <div class="col-12 md:col-4 lg:col-4 flex align-items-center gap-2">
    <span class="border-bottom-1">Secuencia de ruidos detectados:</span>
    <p-badge [value]="data?.noiseSequence" severity="primary"></p-badge>
  </div>
</div>
</div>