

<div class="surface-section " >

   <div class="flex flex-wrap align-items-center justify-content-between w-full" style="background-color: #004b6d;" >
       <div class="ml-6 ">
           <img src="../../../assets/logos/mpt_blanco.png" alt="Image"  height="52.35">
       </div>
       <div class="flex align-items-center justify-content-between m-4 mr-6">
           <img src="../../../assets/logos/gob_blanco.png" alt="Image"  height="52" style="margin-right: 40px;">
           <img src="../../../assets/logos/UE_blanco.png" alt="Image"  height="60">       
           <img src="../../../assets/logos/R_blanco.png" alt="Image"  height="60">       
       </div>
   </div>
</div>
