<footer>
  <div
    class="flex flex-wrap align-items-center justify-content-between w-full p-3"
    style="background-color: #004b6d"
  >
    <div class="ml-3 mb-2">
      <img
        src="../../../assets/logos/mpt_blanco.png"
        alt="logo empresa1"
        class="footer-logo"
      />
    </div>
    <div class="flex flex-wrap align-items-center justify-content-center gap-3">
      <img
        src="../../../assets/logos/UE_blanco.png"
        alt="logo empresa2"
        class="footer-logo"
      />
      <img
        src="../../../assets/logos/gob_blanco.png"
        alt="logo empresa3"
        class="footer-logo"
      />
      <img
        src="../../../assets/logos/R_blanco.png"
        alt="logo empresa4"
        class="footer-logo"
      />
    </div>
  </div>
</footer>
