.footer-logo {
  max-width: 180px; // en pantallas normales
  width: auto; // permite reducir en móvil
  height: auto; // mantiene proporción
}

@media (max-width: 600px) {
  .footer-logo {
    max-width: 90px; // en móvil más pequeños
  }
}
