<div
  class="flex flex-column align-items-center justify-content-center mt-5 mb-2"
>
  <app-sequences context="dashboard" [data]="data" />
</div>

<div class="col-12">
  <!-- Graficos de deteccion en tiempo real -->

  <app-attack-charts />

  <!-- Ataques detectados -->
  <p-panel header="Anomalías detectadas" [toggleable]="false">
    <p-table
      [value]="ataques"
      [paginator]="true"
      [rows]="3"
      [rowsPerPageOptions]="[3, 5, 10]"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th id="ip-atacante" class="text-blue-500">IP Atacante</th>
          <th
            id="amenazas"
            class="text-blue-500 flex justify-content-end align-items-center mr-3"
          >
            Anomalías
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ataque>
        <tr>
          <td
            onkeypress="enter"
            class="text-sm cursor-pointer text-primary hover:underline"
            (click)="verDetalleIp(ataque.ip)"
          >
            <i class="ataque pi pi-desktop text-danger mr-3"></i>{{ ataque.ip }}
          </td>
          <td class="flex justify-content-end align-items-center mr-6">
            <p-badge [value]="ataque.amenazas" class="badge-ataque"></p-badge>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
