<section class="justify-content-center align-items-center">
    <div class=" p-jc-center p-ai-center" style="height: 100vh;">
        <h1 class="pt-5 align-items-center text-center pb-4" [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)', borderRadius: 'var(--border-radius)'}">PROYECTO SBR 3.3</h1>
        <p-card header="Detección de ciberataques en tiempo real" class="text-center">
            <ng-template pTemplate="content">              
                <div>
                <button (click)="irADash()" pButton icon="pi pi-upload" class="button-blue-500" label="Nuevo Proyecto" >
                </button>
            </div>
            </ng-template>
        </p-card>
    
    

    </div>
    </section>